.parallax {
    /* The image used */
    background-image: url("newarrivals.jpg");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.test1 {
height:300px;
background-color:white;
font-size:36;
}

.test2 {
  height: 700px;
}

.object-center {
    display:block;
}
