// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orders-table {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

#order-items-table {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
