// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
body {
  background-image: url("background.jpg");

}

.product-show-link:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.product-box {
  margin: 5px 15px;
  display: inline-flex;
  position: relative;

  .card-body a.btn {
    color: white;
  }
}

.show-box {
  padding-top: 50px;
}

.card {
  border:none;
}

.brand-bg {
  background-color: white;
  padding: 50px 50px;
  border: 25px #343A40 solid;
}

h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
}

.btn {
  border-radius: 1rem;
}

.card-footer {
  background-color: white;
  padding: 0;
}

.add-btn {
  width: 100%;
  border-radius: 0;
}

.filterrific-box {
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.product-backbox {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  padding-right: 0;
  margin-bottom: 30px;
}

.test {
  float: right;
  background-color: white;
  border-radius: 20%;
}
